* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.3rem;
}

.text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff450033;
}

#content {
  text-align: center;
}

.credit {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 200px;
}

.credit-text {
  color: #4b1009;
  border-bottom: 2px solid #771d26;
}

.heading {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  top: 40px;
  position: relative;
  color: rgb(255, 200, 34);
  border-left: 5px solid rgb(255, 200, 34);
  border-bottom-right-radius: 200px;
  border-right: 5px solid rgb(255, 200, 34);
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right {
  display: flex;
}

nav {
  width: max-content;
  margin: 0 auto;
  padding: 16px 0;
}

.nav-button {
  padding: 5px 12px;
  font-size: 1.2rem;
  border: none;
  background-color: #d3cca8;
  color: #771d26;
  transition: all 0.2s;
  cursor: pointer;
}

.active {
  border: 2px solid #771d26;
  transform: scale(1.1);
}

.nav-button:hover {
  background-color: #d3cca8;
  color: #771d26;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  width: 100%;
  margin: 0 auto;
}

.left-section {
  background-image: url(../images/img1.jpg);
  background-size: cover;
}

.left-section button {
  color: rgb(255, 200, 34);
  position: relative;
  top: 150px;
  color: rgb(255, 200, 34);
  position: relative;
  top: 150px;
  padding: 12px 20px;
  font-size: large;
  background-color: #982121;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}

.right-section {
  background-image: url('../images/img.jpg');
  background-size: cover;
}

.credit li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#credit1 {
  border: 2px solid #f1f1c5;
  background-color: #f1f1c54d;
  transform: rotate(-15deg);
}

#credit2 {
  border: 2px solid #c28f30;
  background-color: #c28f304d;
  position: absolute;
  bottom: -50px;
}

#credit3 {
  border: 2px solid #af5908;
  background-color: #af59084d;
  transform: rotate(15deg);
}