@font-face {
  font-family: 'myFont';
  src: url('../fonts/Langar-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'MyFont1';
  src: url('../fonts/EastSeaDokdo-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'MyFont2';
  src: url('../fonts/Pacifico-Regular.ttf') format('ttf');
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.3rem;
}

.text {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff450033;
}

#content {
  text-align: center;
}

.credit {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 200px;
}

.credit-text {
  color: #4b1009;
  border-bottom: 2px solid #771d26;
}

.menu-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#logo-section img {
  width: 200px;
  border-radius: 20%;
}

.slogan-style {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: cursive;
  margin-bottom: 16px;
}

.heading {
  width: 50%;
  margin: 0 auto;
  background-color: #0000004d;
  top: 40px;
  position: relative;
  color: #ffc822;
  border-left: 5px solid #ffc822;
  border-bottom-right-radius: 200px;
  border-right: 5px solid #ffc822;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-right {
  display: flex;
}

nav {
  width: max-content;
  margin: 0 auto;
  padding: 16px 0;
}

.nav-button {
  padding: 5px 12px;
  font-size: 1.2rem;
  border: none;
  background-color: #d3cca8;
  color: #771d26;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #771d26;
  color: #d3cca8;
}

.active {
  border: 2px solid #d3cca8;
  transform: scale(1.1);
  background-color: #771d26;
  color: #d3cca8;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  width: 100%;
  margin: 0 auto;
}

.left-section {
  background-image: url(../images/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.left-section button {
  color: rgb(255, 200, 34);
  position: relative;
  top: 150px;
  padding: 12px 20px;
  font-size: large;
  background-color: #982121;
  border-radius: 20px;
  outline: none;
  box-shadow: none;
}

.right-section {
  background-image: url('../images/img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.credit li {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#credit1 {
  border: 2px solid #f1f1c5;
  background-color: #f1f1c54d;
  transform: rotate(-15deg);
}

#credit2 {
  border: 2px solid #c28f30;
  background-color: #c28f304d;
  position: absolute;
  bottom: -50px;
}

#credit3 {
  border: 2px solid #af5908;
  background-color: #af59084d;
  transform: rotate(15deg);
}

.menu-bar {
  background-image: url(../images/img1.jpg);
  background-size: 20%;
}

.menus {
  width: 80%;
  margin: 0 auto;
  background-color: #f1f1e2e6;
  border: 1px solid #c58e50;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 1px 2px 3px #333;
}

.menu-title {
  color: #771d26;
  font-weight: 700;
  border-bottom-right-radius: 150px;
  border-right: 2px solid #ff8d22;
  border-bottom: 2px solid #ff8d22;
  border-left: 2px solid #ff8d22;
  width: max-content;
  margin: 30px auto 20px;
  padding: 0 12px;
}

.item-note {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 3px 4px;
  width: 90%;
  margin: 0 auto;
  padding: 16px 0;
  border-radius: 20px;
  margin-bottom: 12px;
}

.contact-section {
  background-image: url(../images/img.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 0 30%;
  padding-top: 10px;
}

.contact-section h4 {
  color: #f1f1ef;
  font-weight: 900;
  font-size: 1.8rem;
  width: max-content;
  margin: 0 auto;
  background-color: #ff442280;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0 20px;
}

.contact-title {
  background-color: #ffe4c466;
  font-size: 2.5rem;
}

.panel {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.nav-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-evenly;
  border: 1px solid #f1f1ef;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.contact-panel {
  width: max-content;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #f1f1ef;
  border-radius: 40%;
  background-color: #ff634766;
  color: #f1f1ef;
}

.nav-panel button {
  padding: 30px;
  border-top-right-radius: 50px;
}

.panel-title {
  border-bottom: 2px solid #af5908;
  width: max-content;
  margin: 0 auto;
}
